.links a{
    text-decoration: none;
    color: black;
}
.links a:hover{
    color: grey;
    transition: color 0.2s;
}
.container{
    margin: 0;
}

.navbar{
    background-color:#F4F4F4 !important;
    border-bottom: 1px solid black;
    z-index: 100;
}